{% extends "core/base.html" %}
{% block nav-lists %}active{% endblock %}

{% block page-title %}{{ subscriber_list }}{% endblock %}
{% block title %}{{ subscriber_list }}{% endblock %}

{% block contents %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'lists-overview' %}">Lists</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ subscriber_list }}</li>
        </ol>
    </nav>

{% endblock %}
