{% extends "core/base.html" %}
{% block nav-lists %}active{% endblock %}

{% block page-title %}Lists{% endblock %}
{% block title %}Lists{% endblock %}

{% block contents %}

    <div class="row">
        <form action="" method="get" class="col-md-10 col-lg-10 col-xl-10 col-xxl-10">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search for lists"
                       aria-label="Search for lists" aria-describedby="button-addon2"
                       name="query" value="{{ query }}"
                >
                <input class="btn btn-outline-secondary" type="submit" id="btn_search" value="Search">
                {% if query %}
                    <a class="btn btn-outline-secondary" id="btn_clear_filter" href="{% url 'lists-overview' %}">Clear</a>
                {% endif %}
            </div>
        </form>
        <div class="col-md-2 col-lg-2 col-xl-2 col-xxl-2">
            <a class="btn btn-success" href="{% url 'lists-create' %}">Create List</a>
        </div>
    </div>
    <table class="table table-sm table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Subscriber count</th>
    </tr>
    </thead>
        <tbody>
        {% for list in lists %}
            <tr>
                <td><a href="{% url 'lists-details' list.id %}">{{ list.name }}</a></td>
                <td>{{ list.description }}</td>
                <td>{{ list.subscriber_count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
